---
/**
 * * These are small cards with icons, titles, and text
 * This looks best with an even number of cards. They are smaller to
 * use with more cards in the same section. 6 cards is probably ideal
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

import { Icon } from "astro-icon/components";

interface Props {
	title: string;
	text: string;
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { title, text, ...rest } = Astro.props as Props;
---

<div {...rest}>
	<div class="h-full">
		<div class="flex gap-3">
			<Icon
				name="nova/circle-check"
				class="text-primary-600 size-8 shrink-0 rounded-full"
				aria-hidden="true"
			/>
			<div class="flex flex-col items-start">
				<h3 class="text-base-900 dark:text-base-100 inline text-lg font-semibold">
					{title}
				</h3>
				<p class="description mt-2">{text}</p>
			</div>
		</div>
	</div>
</div>
