---
/**
 * * These are small cards with icons and text for the integrations section
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

import { Icon } from "astro-icon/components";

interface Props {
	icon: string;
	company: string;
}

const { icon, company, ...rest } = Astro.props as Props;
---

<div class="w-[12rem] flex-shrink-0 p-3 md:w-[16rem] lg:w-[20rem]" {...rest}>
	<div
		class="transition-translate bg-base-50 dark:bg-base-900 rounded-lg duration-300 hover:-translate-y-1"
	>
		<div class="flex flex-col items-center p-6">
			<Icon
				name={icon}
				class="bg-base-50 size-12 rounded-full p-px md:size-16"
				aria-hidden="true"
			/>
			<p class="mt-3 font-semibold tracking-tight md:text-lg">{company}</p>
		</div>
	</div>
</div>
