---

---

<span
	class="from-gradient-1 via-gradient-2 to-gradient-3 mb-6 inline-block rounded-full bg-linear-40 px-3 py-1.5 text-sm font-semibold tracking-tight text-white uppercase"
>
	<slot />
</span>
