---
/**
 * * Hero centered with video button
 *
 * There is a commented out "awards" section below in case you want that
 */
import Button from "@components/Button/Button.astro";
import VideoButton from "@components/Button/VideoButton.astro";
import person2 from "@images/avatar4.jpg";
import person1 from "@images/revenue.png";
import { getLocaleFromUrl } from "@js/localeUtils";
import { useTranslations } from "@js/translationUtils";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import { getLocalizedRoute } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<section id="hero-center-images" class="dark:bg-base-950 overflow-clip bg-white pt-20">
	<div class="overflow-hidden pt-16 pb-28">
		<div class="site-container mx-auto px-4">
			<div class="mx-auto max-w-2xl text-center">
				<h1
					class="mb-4 font-serif text-5xl tracking-tighter sm:text-6xl md:text-7xl"
					data-aos="fade-left"
					data-aos-trigger="#hero-center-images"
				>
					{t("hero_text")}
				</h1>
				<p
					class="mx-auto mb-10 max-w-md"
					data-aos="fade-left"
					data-aos-trigger="#hero-center-images"
					data-aos-delay="0.15"
				>
					{t("hero_description")}
				</p>
				<div
					class="mb-6 flex justify-center"
					data-aos="fade-left"
					data-aos-trigger="#hero-center-images"
					data-aos-delay="0.3"
				>
					<Button variant="primary" href={getLocalizedRoute(currLocale, "/signup")} class="py-4"
						>Try 14 Days Free Trial</Button
					>
				</div>
				<p
					class="text-base-600/80 dark:text-base-400/80 mb-20 text-sm tracking-tight"
					data-aos="fade-left"
					data-aos-trigger="#hero-center-images"
					data-aos-delay="0.3"
				>
					No Credit Card Required / Cancel Anytime
				</p>
			</div>
			<div
				class="mx-auto max-w-6xl"
				data-aos="fade-in"
				data-aos-trigger="#hero-center-images"
				data-aos-delay="0.5"
			>
				<div class="flex items-center justify-center">
					<div class="relative z-10 flex-1">
						<div
							class="rounded-full"
							style="background: url('/assets/bg-gradient.webp'); background-repeat: no-repeat; background-size: cover;"
						>
							<div class="flex flex-wrap items-center justify-between">
								<div class="mx-auto w-auto">
									<div class="relative w-56 py-8 text-center">
										<h2 class="mb-3 text-7xl font-semibold tracking-tighter text-white">169%</h2>
										<h3 class="mb-3 text-2xl font-semibold text-white">Monthly Revenue</h3>
										<p class="font-medium text-white">
											Average results customer sees after using Nova
										</p>
										<Icon
											name="nova/squiggle"
											aria-hidden="true"
											class="absolute top-0 -right-16 h-auto w-12"
										/>
									</div>
								</div>
								<div class="mx-auto w-auto lg:-mr-px">
									<Image
										src={person1}
										class="relative -right-px h-auto w-[582px] transform rounded-full transition duration-500 hover:translate-x-5"
										alt="image"
										aria-hidden="true"
										loading="eager"
										width={582}
										densities={[1.5, 2]}
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="-ml-8 w-auto">
						<Image
							src={person2}
							class="h-auto w-[266px] rounded-full"
							alt="image"
							aria-hidden="true"
							loading="eager"
							width={266}
							densities={[1.5, 2]}
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
