---
/**
 * * Hero centered with video button
 *
 * There is a commented out "awards" section below in case you want that
 */
import Button from "@components/Button/Button.astro";
import VideoButton from "@components/Button/VideoButton.astro";
import person1 from "@images/ashton_blackwell.jpg";
import person3 from "@images/nic_fassbender.jpg";
import person2 from "@images/nicola_harris.jpg";
import { getLocaleFromUrl } from "@js/localeUtils";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const currLocale = getLocaleFromUrl(Astro.url);
---

<section id="hero-center" class="mt-20 overflow-x-clip">
	<div class="site-container mx-auto px-4 pt-10 pb-10">
		<!-- alter the max-w-[750px] here until your text looks nice on large screens -->
		<div class="mx-auto mb-16 flex w-full max-w-[750px] flex-col justify-center px-4 text-center">
			<div data-aos="fade-right" data-aos-trigger="#hero-center">
				<span
					class="from-gradient-1 via-gradient-2 to-gradient-3 mb-6 inline-block rounded-full bg-linear-40 px-3 py-1.5 text-sm font-semibold tracking-tight text-white uppercase"
				>
					Meet Nova
				</span>

				<h1 class="h1 mb-6">
					Hero text
				</h1>
			</div>
			<p
				class="description mb-10 text-lg text-pretty lg:text-xl"
				data-aos="fade-right"
				data-aos-delay=".1"
				data-aos-trigger="#hero-center"
			>
				Hero description
			</p>
			<div class="flex flex-wrap justify-center gap-4">
				<Button
					variant="primary"
					href="https://cosmicthemes.com/themes/nova/"
					target="_blank"
					rel="noopener noreferrer"
					data-aos="fade-right"
					data-aos-delay=".2"
					data-aos-trigger="#hero-center"
				>
					Get Nova
				</Button>
				<VideoButton data-aos="fade-right" data-aos-delay=".2" data-aos-trigger="#hero-center" />
			</div>

			<!-- social proof -->
			<div
				class="mx-auto mt-8 flex max-w-md"
				data-aos="fade-right"
				data-aos-delay=".3"
				data-aos-trigger="#hero-center"
			>
				<div class="-m-1.5 flex flex-wrap items-center">
					<div class="w-auto p-1.5">
						<div class="flex flex-wrap">
							<div
								class="border-primary-500 bg-primary-500 aspect-square size-10 overflow-hidden rounded-full border-2"
							>
								<Image
									src={person1}
									class="object-cover"
									alt="reader"
									loading="eager"
									width={100}
								/>
							</div>
							<div
								class="border-primary-500 bg-primary-500 -ml-5 aspect-square size-10 overflow-hidden rounded-full border-2"
							>
								<Image
									src={person2}
									class="object-cover"
									alt="reader"
									loading="eager"
									width={100}
								/>
							</div>
							<div
								class="border-primary-500 bg-primary-500 -ml-5 aspect-square size-10 overflow-hidden rounded-full border-2"
							>
								<Image
									src={person3}
									class="object-cover"
									alt="reader"
									loading="eager"
									width={100}
								/>
							</div>
							<div
								class="border-primary-500 bg-primary-500 -ml-5 aspect-square size-10 overflow-hidden rounded-full border-2"
							>
								<Image
									src={person2}
									class="object-cover"
									alt="reader"
									loading="eager"
									width={100}
								/>
							</div>
						</div>
					</div>
					<div class="flex-1 p-1.5 text-left">
						<p class="description max-w-[14rem] text-sm leading-tight tracking-tight">
							Join 200+ happy and<br />
							satisfied customers.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
