---
/**
 * * CTA centered with background gradient image
 */

import Button from "@components/Button/Button.astro";
import { Icon } from "astro-icon/components";
---

<section id="cta-center" class="relative overflow-hidden bg-white">
	<div
		class="overflow-hidden py-24 lg:py-28"
		style="background: url('/assets/bg2.webp'); background-repeat: no-repeat; background-size: cover;"
	>
		<div class="site-container relative">
			<div class="mx-auto max-w-xl text-center">
				<h2 class="mb-6 font-serif text-6xl tracking-tighter text-white">
					Take your new website to the next level
				</h2>
				<p class="text-base-50 mb-8 text-xl tracking-tight">
					A template for the next killer SaaS. Multiple pages and sections, blog, i18n, animations,
					CMS - all ready to go.
				</p>
				<div class="flex justify-center">
					<Button
						variant="outline"
						href="https://cosmicthemes.com/themes/nova/"
						target="_blank"
						rel="noopener noreferrer"
						class="border-none"
					>
						Get Nova
					</Button>
				</div>
			</div>
		</div>
	</div>
</section>
