---
/**
 * * CTA card center with dark background and light text
 */

import Button from "@components/Button/Button.astro";
import bgImage from "@images/gradient.png";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<section class="dark:bg-base-900 overflow-hidden py-24">
	<div class="site-container">
		<div class="relative overflow-hidden rounded-2xl bg-black p-12">
			<Image
				src={bgImage}
				alt="background"
				loading="lazy"
				height={540}
				class="absolute top-0 right-0"
				aria-hidden="true"
			/>
			<div class="relative">
				<h2 class="mb-2 font-serif text-4xl tracking-tighter text-white md:text-6xl">
					Get all access to Nova.
				</h2>
				<h2 class="mb-8 font-serif text-4xl tracking-tighter text-gray-400 md:text-6xl">
					Make that next website incredible.
				</h2>
				<div class="mb-32 flex">
					<Button
						variant="primary"
						href="https://cosmicthemes.com/themes/nova/"
						target="_blank"
						rel="noopener noreferrer"
						class="px-7 py-4"
					>
						Get Nova
					</Button>
				</div>
				<ul class="-m-4 flex flex-wrap">
					<li class="p-4">
						<div class="flex flex-wrap items-center gap-3">
							<Icon name="tabler/circle-check" class="size-7 text-white" aria-hidden="true" />
							<span class="tracking-tight text-white">Seamless Collaboration</span>
						</div>
					</li>
					<li class="p-4">
						<div class="flex flex-wrap items-center gap-3">
							<Icon name="tabler/circle-check" class="size-7 text-white" aria-hidden="true" />
							<span class="tracking-tight text-white">Customizable Workflows</span>
						</div>
					</li>
					<li class="p-4">
						<div class="flex flex-wrap items-center gap-3">
							<Icon name="tabler/circle-check" class="size-7 text-white" aria-hidden="true" />
							<span class="tracking-tight text-white">Comprehensive Reporting</span>
						</div>
					</li>
					<li class="p-4">
						<div class="flex flex-wrap items-center gap-3">
							<Icon name="tabler/circle-check" class="size-7 text-white" aria-hidden="true" />
							<span class="tracking-tight text-white">Intuitive Interface</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
