---
/**
 * * CTA card center with dark background and light text
 */

import Badge from "@components/Badge/Badge.astro";
import Button from "@components/Button/Button.astro";
import sideImage from "@images/laptop.jpg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<section id="cta-image" class="dark bg-base-950 dark:bg-base-900 overflow-clip">
	<div class="flex flex-wrap md:grid md:grid-cols-12">
		<!-- set 2xl:max-h-[] to be about the height of the content on the right on desktop view -->
		<div class="w-full md:col-span-5 lg:pr-14 xl:ml-auto 2xl:max-h-[750px]">
			<div class="h-full overflow-hidden">
				<Image
					src={sideImage}
					alt="laptop"
					loading="lazy"
					width={1000}
					densities={[1, 1.5, 2]}
					class="h-full w-full transform object-cover transition duration-500 hover:scale-105"
					aria-hidden="true"
				/>
			</div>
		</div>
		<div class="flex-1 p-8 md:col-span-6 lg:p-14">
			<div class="flex h-full flex-col justify-center">
				<div class="px-4 pb-16 md:max-w-xl md:py-16">
					<Badge>Get Nova</Badge>
					<h2 class="h2 text-base-50">Ready to take your brand to the top?</h2>
					<p class="description mb-20 text-xl tracking-tight">
						Transform your knowledge into a thriving business with the best online course platform
						for creators everywhere we found to be successful.
					</p>
					<form class="-m-1.5 mb-5 flex flex-wrap">
						<div class="w-auto p-1.5">
							<input
								class="form__input rounded-lg"
								type="email"
								placeholder="Enter your email address"
								required
							/>
						</div>
						<div class="w-auto p-1.5">
							<Button variant="primary" type="submit" class="py-4"> Try 14 Days Free Trial </Button>
						</div>
					</form>
					<p class="text-base-600/80 dark:text-base-400/80 tracking-tight">
						This website uses cookies and other tracking tools to provide you with the best
						experience.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
