---
/**
 * * Image on the left and information on the right. For when you want to keep it simple.
 */
import { Image } from "astro:assets";

interface FeatureData {
	title: string; // the number to showcase
	description: string; // description below the number
}

import sideImage from "@images/transaction.png";

const featureData: FeatureData[] = [
	{
		title: "Secured Payments",
		description: `Use a re-use tons of responsive section to create the perfect layout. Sections are organized into convenient categories.`,
	},
	{
		title: "Customer Profiles",
		description: `Use a re-use tons of responsive section to create the perfect layout. Sections are organized into convenient categories.`,
	},
];
---

<section id="feature-simple" class="overflow-clip py-16 lg:py-24">
	<div class="site-container">
		<div class="-m-8 grid items-center md:grid-cols-2">
			<div class="w-full p-8">
				<div class="mx-auto max-w-max">
					<Image
						src={sideImage}
						class="transform transition duration-500 hover:-translate-y-2"
						alt="best value"
						loading="lazy"
						width={443}
						densities={[1.5, 2]}
					/>
				</div>
			</div>
			<div class="w-full p-8">
				<div class="md:max-w-md">
					<div class="flex flex-wrap">
						{
							featureData.map((feature, idx) => (
								<>
									<div class="w-auto p-6">
										<h3
											class="mb-4 text-3xl font-semibold tracking-tighter"
											style="letter-spacing: -0.5px;"
										>
											{feature.title}
										</h3>
										<p class="tracking-tight">{feature.description}</p>
									</div>
								</>
							))
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
