---
/**
 * * A section to showcase super impressive numbers to make your product look good
 */

interface FeatureData {
	title: string; // the number to showcase
	description: string; // description below the number
}

const featureData: FeatureData[] = [
	{
		title: "55%",
		description: `Number or data that suggests an increase in performance.`,
	},
	{
		title: "200 TB",
		description: `Number or data that suggests an increase in performance.`,
	},
	{
		title: "20k",
		description: `Number or data that suggests an increase in performance.`,
	},
	{
		title: "110%",
		description: `Number or data that suggests an increase in performance.`,
	},
];
---

<section
	id="feature-numbers"
	class="dark bg-base-950 dark:bg-primary-600/40 overflow-hidden py-16 md:py-24"
>
	<div class="site-container">
		<h2 id="feature-numbers-trigger" class="h2 mb-20 max-w-lg" data-aos="fade-left">
			Showcase super impressive numbers.
		</h2>
		<div
			class="-m-10 grid md:grid-cols-2 lg:grid-cols-4"
			data-aos="fade-left"
			data-aos-delay=".3"
			data-aos-trigger="#feature-numbers-trigger"
		>
			{
				featureData.map((feature, idx) => (
					<div class="w-full p-10">
						<div class="inline-block">
							<h3 class="mb-3 inline-block font-serif text-6xl tracking-tighter text-white md:text-7xl">
								{feature.title}
							</h3>
							<p class="tracking-tight text-gray-300">{feature.description}</p>
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>
