---
/**
 * * A section to show the steps to using your product. They are numbers with an image to the side
 */
import { Image } from "astro:assets";

interface FeatureData {
	title: string; // the number to showcase
	description: string; // description below the number
}

import sideImage from "@images/woman.jpg";

const featureData: FeatureData[] = [
	{
		title: "Secured Payments",
		description: `Use a re-use tons of responsive section to create the perfect layout.`,
	},
	{
		title: "Download the Code",
		description: `Use a re-use tons of responsive section to create the perfect layout.`,
	},
	{
		title: "Start using Nova",
		description: `Use a re-use tons of responsive section to create the perfect layout.`,
	},
];
---

<section id="feature-steps" class="bg-base-950 dark:bg-base-900 overflow-clip py-16 md:py-24">
	<div class="site-container">
		<div class="mx-auto mb-20 max-w-2xl text-center">
			<h2 class="h1 text-base-100">Boost your team's productivity with our collaboration tools.</h2>
		</div>
		<div class="-m-8 grid md:grid-cols-2 lg:items-center">
			<div class="w-full p-8">
				<div class="md:max-w-lg">
					<div class="-m-8 flex flex-wrap" id="feature-steps-trigger">
						{
							featureData.map((feature, idx) => (
								<div
									class="w-full p-8"
									data-aos="fade-right"
									data-aos-trigger="#feature-steps-trigger"
									data-aos-delay={0.25 * idx}
								>
									<div class="-m-8 flex flex-wrap">
										<div class="w-24 p-8">
											<h3 class="text-base-600 dark:text-base-500 font-serif text-7xl tracking-tighter md:text-7xl">
												{idx + 1}
											</h3>
										</div>
										<div class="flex-1 p-8">
											<div class="md:max-w-md">
												<h3 class="text-base-100 mb-4 text-xl font-semibold tracking-tight">
													{feature.title}
												</h3>
												<p class="text-base-400 dark:text-base-300 text-xl tracking-tight">
													{feature.description}
												</p>
											</div>
										</div>
									</div>
								</div>
							))
						}
					</div>
				</div>
			</div>
			<div class="w-full p-8">
				<Image
					src={sideImage}
					class="mx-auto transform rounded-2xl transition duration-500 hover:-translate-y-1"
					alt="best value"
					loading="lazy"
					width={510}
					densities={[1.5, 2]}
				/>
			</div>
		</div>
	</div>
</section>
