---
/**
 * * These are small cards with icons, titles, and text. With title first
 * This looks best with an even number of cards. They are smaller to
 * use with more cards in the same section. 4 or 6 cards is probably ideal
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

import Badge from "@components/Badge/Badge.astro";
import FeatureCard from "@components/FeatureCard/FeatureCardSmall.astro";
import { Icon } from "astro-icon/components";

interface FeatureData {
	icon: string;
	title: string;
	text: string;
}

const featureData: FeatureData[] = [
	{
		icon: "tabler/calendar-check",
		title: "Connect all our contacts",
		text: `Sync with your calendar apps and contacts. Google, Outlook, ProtonMail, and more.`,
	},
	{
		icon: "tabler/heart",
		title: "Dashboards for all businesses",
		text: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit totam delectus
            rerum, reiciendis quisquam cum sunt.`,
	},
	{
		icon: "tabler/cloud",
		title: "Synced to the cloud",
		text: `Your data is accessible from everywhere, syncing across all your devices.`,
	},
	{
		icon: "tabler/layout-grid",
		title: "Your business intelligence, simplified",
		text: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit totam delectus
            rerum.`,
	},
	{
		icon: "tabler/wand",
		title: "Real-time insights at your fingertips",
		text: `Data syncs across your team instantly. Real-time access, with 99.9% uptime.`,
	},
	{
		icon: "tabler/api-app",
		title: "Connects to popular apps",
		text: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit totam delectus
            rerum, reiciendis quisquam cum sunt.`,
	},
];
---

<section id="feature-cards-small" class="py-24 md:py-28">
	<div class="site-container relative">
		<div class="mx-auto mb-16 text-center md:max-w-2xl" data-aos="fade-up">
			<Badge>Features</Badge>
			<h2 class="h2 mb-4">Gain more insight into how people use your</h2>
			<p class="description text-lg text-pretty md:text-xl">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis eius sunt autem esse
				delectus illo vel.
			</p>
		</div>
		<div id="trigger-small-cards" class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
			{
				featureData.map((feature, idx) => (
					<FeatureCard
						title={feature.title}
						text={feature.text}
						icon={feature.icon}
						data-aos="zoom-in"
						data-aos-delay={0.15 * idx}
						data-aos-trigger="#trigger-small-cards"
					/>
				))
			}
		</div>
	</div>
</section>
