---
/**
 * * This is a 3 card bento grid. Each card has a title, text, and "learn more" link
 * Unfortunately, this is something that takes fine tuning and you'll likely want to create your own assets for
 */

import Badge from "@components/Badge/Badge.astro";
import card1img1 from "@images/email.png";
import card1img2 from "@images/email-light.png";
import card2img from "@images/feedback.png";
import card3img from "@images/payment-received.png";
import { getLocaleFromUrl } from "@js/localeUtils";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import { getLocalizedRoute } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
---

<section id="feature-bento" class="overflow-hidden py-16 md:py-24">
	<div class="site-container">
		<div class="mx-auto mb-20 max-w-2xl text-center">
			<Badge>It's the best</Badge>
			<h2 class="h2">Boost your brand's visibility and reach with Nova</h2>
		</div>
		<div class="mx-auto max-w-7xl">
			<div class="-m-4 flex flex-wrap">
				<div class="w-full p-4 md:w-1/2">
					<div class="-m-4 flex flex-wrap">
						<!-- card 1 -->
						<div class="w-full p-4">
							<div class="relative rounded-lg bg-indigo-500/10 p-8 dark:bg-indigo-500/30">
								<h3 class="h3 mb-4 font-semibold" style="letter-spacing: -0.5px;">
									Live chat technology
								</h3>
								<p class="description mb-9 tracking-tight md:max-w-sm">
									Create an on-brand home for your product and create countle hours on design time.
									Use this table to compare your product.
								</p>
								<Image
									src={card1img1}
									alt="email"
									loading="lazy"
									height={90}
									class="relative -right-4 mb-10 ml-auto w-auto"
								/>
								<a
									class="description hover:text-primary-500 dark:hover:text-primary-500 relative z-10 flex items-center font-semibold tracking-tight transition duration-200"
									href={getLocalizedRoute(currLocale, "/blog/tsconfig-paths-setup")}
								>
									<span class="mr-2.5">
										<span class="sr-only">TSConfig path aliases setup</span>
										Learn more
									</span>
									<Icon name="nova/arrow-angled" aria-hidden="true" class="size-6" />
								</a>
								<Image
									src={card1img2}
									alt="email light"
									loading="lazy"
									height={81}
									class="absolute right-0 bottom-5"
								/>
							</div>
						</div>
						<!-- card 2 -->
						<div class="w-full p-4">
							<div
								class="bg-base-500/10 dark:bg-base-500/50 relative overflow-hidden rounded-lg p-8"
							>
								<h3 class="h3 mb-4 font-semibold" style="letter-spacing: -0.5px;">
									Receive feedbacks
								</h3>
								<p class="description mb-36 tracking-tight md:max-w-sm">
									Create an on-brand home for your product and create countle hours on design time.
									Use this table to compare your product.
								</p>
								<a
									class="description hover:text-primary-500 dark:hover:text-primary-500 relative z-10 flex items-center font-semibold tracking-tight transition duration-200"
									href={getLocalizedRoute(currLocale, "/blog/tsconfig-paths-setup")}
								>
									<span class="mr-2.5">
										<span class="sr-only">TSConfig path aliases setup</span>
										Learn more
									</span>
									<Icon name="nova/arrow-angled" aria-hidden="true" class="size-6" />
								</a>
								<Image
									src={card2img}
									alt="feedback"
									loading="lazy"
									height={170}
									class="absolute right-7 bottom-0"
								/>
							</div>
						</div>
					</div>
				</div>

				<!-- card 3 -->
				<div class="w-full p-4 md:w-1/2">
					<div
						class="relative h-full overflow-hidden rounded-lg bg-green-500/10 p-8 dark:bg-green-500/30"
					>
						<h3 class="h3 mb-4 font-semibold" style="letter-spacing: -0.5px;">Secured payment</h3>
						<p class="description mb-10 tracking-tight md:max-w-sm">
							Create an on-brand home for your product and countle hours on design time. Use this
							table to compare your product.
						</p>
						<a
							class="description hover:text-primary-500 dark:hover:text-primary-500 relative z-10 mb-4 flex items-center font-semibold tracking-tight transition duration-200"
							href={getLocalizedRoute(currLocale, "/blog/tsconfig-paths-setup")}
						>
							<span class="mr-2.5">
								<span class="sr-only">TSConfig path aliases setup</span>
								Learn more
							</span>
							<Icon name="nova/arrow-angled" aria-hidden="true" class="size-6" />
						</a>
						<div class="mx-auto max-w-max">
							<Image
								src={card3img}
								alt="payment received"
								loading="lazy"
								height={377}
								class="mx-auto mb-3.5 transform transition duration-500 hover:-translate-y-2"
							/>
							<a
								class="from-gradient-1 via-gradient-2 to-gradient-3 focus:ring-primary-300 mb-6 flex w-full items-center rounded-lg bg-linear-40 px-3.5 py-5 font-medium tracking-tight text-white transition duration-500 focus:ring-4"
								href={getLocalizedRoute(currLocale, "/blog/tsconfig-paths-setup")}
							>
								<div class="mr-3 inline-block">
									<Icon name="nova/circle-check" aria-hidden="true" class="size-6" />
								</div>
								<span>Made $489.00 payment for Netflix</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
