---
import CategoryCloud from "@components/CategoryCloud/CategoryCloud.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Recent Blog Posts" description="Recent Blog Posts Description">
	<section class="site-container overflow-x-clip pt-28 md:pt-36">
		<div class="mx-auto max-w-3xl">
			<h1 class="h1 text-center">Categories</h1>
			<div class="mt-10 flex justify-center">
				<CategoryCloud showCount={false} />
			</div>
		</div>
	</section>
</BaseLayout>
