---
import Badge from "@components/Badge/Badge.astro";
import ContactForm from "@components/Forms/ContactForm.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
const metadata = {
  title: `Contact - ${siteData.title}`,
};
---

<BaseLayout title={metadata.title} description={siteData.description}>
	<div class="site-container mt-16">
		<section class="overflow-hidden py-24 lg:py-28">
			<div class="-m-8 flex flex-wrap">
				<div class="w-full p-8 md:w-1/2">
					<div class="mx-auto h-full max-w-lg md:ml-0">
						<Badge>you're the best</Badge>
						<h1 class="h1">Have questions? Use this form to contact us.</h1>
						<p class="description text-lg">
							A template for the next killer SaaS. Multiple pages and sections, blog, i18n,
							animations, CMS - all ready to go.
						</p>
					</div>
				</div>
				<div class="mx-auto w-full max-w-xl p-8 md:mr-0 md:w-1/2">
					<ContactForm />
				</div>
			</div>
		</section>
	</div>
</BaseLayout>
