---
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";
import BaseLayout from "@layouts/BaseLayout.astro";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
const metadata = {
  title: `Contact - ${siteData.title}`,
};
---

<BaseLayout title={metadata.title} description={siteData.description}>
	<div class="site-container mt-16">
		<section class="overflow-hidden py-24 lg:py-28">
			<div class="-m-8 flex flex-wrap">
				<div class="w-full p-8 md:w-1/2">
					<div class="mx-auto h-full max-w-lg md:ml-0">
						<h1 class="h1">You have successfully sent us your message.</h1>
						<p class="description text-lg">
							We will get back to you soon.
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</BaseLayout>
