---
import { Icon } from "astro-icon/components";

interface Props {
	icon: string;
	social: string; // used for aria label
	href: string;
}

const { icon, social, href } = Astro.props as Props;
---

<a
	aria-label={social}
	href={href}
	target="_blank"
	rel="noopener noreferrer"
	class="border-base-300 text-base-700 hover:border-primary-400 dark:border-base-700 dark:text-base-300 dark:hover:border-base-600 rounded-full border p-2 transition duration-200"
>
	<p class="sr-only">{social}</p>
	<Icon name={icon} class="size-5 transition" aria-hidden="true" />
</a>
