---
import { Icon } from "astro-icon/components";
---

<a
	class="text-primary-950 dark:text-primary-200 flex items-center gap-1 align-middle text-lg xs:text-xl sm:text-2xl font-bold"
	href={"/"}
>
	<Icon name="tcc-logo-art" class="size-12 xs:size-9" aria-hidden="true" />
	<p class="md:whitespace-nowrap" style=""><span style="font-Family: 'Classica'">TROUTDALE</span> <span class="whitespace-nowrap" style="font-family: 'Chopin';">Community Church</span></p>
</a>
