---
import { Icon } from "astro-icon/components";
---

<a
	class="text-base-800 dark:text-base-200 flex items-center gap-1 align-middle text-2xl font-bold"
	href={"/"}
>
	<Icon name="tcc-logo-art" class="size-9" aria-hidden="true" />
	<p class="whitespace-nowrap" style=""><span style="font-Family: 'Classica'">TROUTDALE</span> <span class="whitespace-nowrap" style="font-family: 'Chopin';">Community Church</span></p>
</a>
