---
interface Props {
	href: string;
	newTab?: boolean; // defaults to false
	rest?: Partial<HTMLAnchorElement>; // catch-all for any additional parameters, such as "aria-label"
}

const { href, newTab = false, ...rest } = Astro.props as Props;
---

<a
	href={href}
	class="text-base-700 hover:text-primary-600 dark:text-base-400 dark:hover:text-base-300 py-2 font-medium tracking-tight transition duration-200"
	target={newTab ? "_blank" : undefined}
	rel={newTab ? "noopener noreferrer" : undefined}
	{...rest}
>
	<slot />
</a>
