---
import Button from "@components/Button/Button.astro";
import FooterLink from "@components/Footer/FooterLink.astro";
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";
import SocialIcon from "@components/SocialIcon/SocialIcon.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);

const today = new Date();
---

<footer class="overflow-clip pt-24 pb-16">
	<div class="site-container">
		<div class="border-b pb-20">
			<div class="flex flex-wrap">
				<div class="w-full p-2 md:w-1/2">
					<div class="max-w-xs">
						<SiteLogo />
						<p class="mt-11 tracking-tight">
							A template for the next killer SaaS. Multiple pages and sections, blog, i18n,
							animations, CMS - all ready to go.
						</p>
					</div>
				</div>
				<div class="w-full p-2 md:w-1/2">
					<div class="flex flex-wrap justify-between">
						<!-- first links column -->
						<div class="w-auto p-8">
							<h3 class="text-base-700/80 dark:text-base-400/80 mb-12 font-semibold tracking-tight">
								Landing Pages
							</h3>
							<ul class="flex flex-col gap-5">
								<li>
									<FooterLink href={"/"}>Landing 1</FooterLink>
								</li>
								<li>
									<FooterLink href={"/examples/landing2"}
										>Landing 2</FooterLink
									>
								</li>
								<li>
									<FooterLink href={"/examples/landing3"}
										>Landing 3</FooterLink
									>
								</li>
							</ul>
						</div>

						<!-- second links column -->
						<div class="w-auto p-8">
							<h3 class="text-base-700/80 dark:text-base-400/80 mb-12 font-semibold tracking-tight">
								Sections
							</h3>
							<ul class="flex flex-col gap-5">
								<li>
									<FooterLink href={"/examples/features"}
										>Features</FooterLink
									>
								</li>
								<li>
									<FooterLink href={"/examples/pricing"}
										>Pricing</FooterLink
									>
								</li>
								<li>
									<FooterLink href={"/examples/testimonials-faq"}
										>Testimonial & FAQ</FooterLink
									>
								</li>
								<li>
									<FooterLink href={"/examples/hero-sections"}
										>Hero</FooterLink
									>
								</li>
							</ul>
						</div>

						<!-- third links column -->
						<div class="w-auto p-8">
							<h3 class="text-base-700/80 dark:text-base-400/80 mb-12 font-semibold tracking-tight">
								Forms
							</h3>
							<ul class="flex flex-col gap-5">
								<li>
									<FooterLink href={"/contact"}>Contact</FooterLink>
								</li>
								<li>
									<FooterLink href={"/login"}>Login</FooterLink>
								</li>
								<li>
									<FooterLink href={"/signup"}>Signup</FooterLink>
								</li>
								<li>
									<FooterLink href={"/password-reset"}
										>Password Reset</FooterLink
									>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="py-6">
			<div class="-m-4 flex flex-wrap items-center justify-between">
				<div class="w-auto p-4">
					<p class="tracking-tight">
						&copy; {today.getFullYear()}
						{" "}{siteData.name}. All rights reserved.
					</p>
				</div>
				<div class="w-auto p-4">
					<!-- Socials -->
					<div class="flex flex-col">
						<div class="flex gap-5">
							<SocialIcon
								href="https://twitter.com/BowTiedWebReapr"
								icon="tabler/brand-x"
								social="twitter (x)"
							/>
							<SocialIcon
								href="https://twitter.com/BowTiedWebReapr"
								icon="tabler/brand-facebook"
								social="facebook"
							/>
							<SocialIcon
								href="https://twitter.com/BowTiedWebReapr"
								icon="tabler/brand-google-filled"
								social="google"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
