---
/**
 * * Testimonials section columns (not swiper)
 */

import Badge from "@components/Badge/Badge.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";
import { Icon } from "astro-icon/components";

import TestimonialCard from "./TestimonialItemCard.astro";

const currLocale = getLocaleFromUrl(Astro.url);
const testimonialData = getTranslatedData("testimonialData", currLocale);
---

<section id="testimonials-columns" class="bg-base-200/60 dark:bg-base-950 py-16 md:py-24">
	<div class="site-container">
		<div class="mx-auto mb-16 text-center md:max-w-4xl" data-aos="fade-up">
			<Badge>200+ Happy customers</Badge>
			<h2 class="h2 mb-4">What our clients say</h2>
			<p class="description text-lg md:text-xl">
				Use and reuse tons of responsive sections to create the perfect layout.
			</p>
		</div>
		<div
			class="mx-auto grid gap-6 sm:grid-cols-2 lg:grid-cols-3"
			data-aos="fade-up"
			data-aos-delay=".2"
		>
			{
				testimonialData.map((testimonial, idx) => (
					<TestimonialCard
						{...testimonial}
						class="transition-transform duration-500 hover:-translate-y-2"
					/>
				))
			}
		</div>
	</div>
</section>
