---
import { countItems, getAllPosts, sortByValue } from "@js/blogUtils";
import { getLocaleFromUrl } from "@js/localeUtils";
import { humanize } from "@js/textUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const posts = await getAllPosts(currLocale);
const allCategories = posts.map((post) => post.data.categories).flat();
const countedCategories = countItems(allCategories);
const processedCategories = sortByValue(countedCategories);

interface Props {
	showCount?: boolean;
}

const { showCount = false } = Astro.props as Props;
---

<div class="flex flex-wrap justify-center gap-3 md:gap-4">
	{
		processedCategories.map(([category, count]) => (
			<a
				href={`/categories/${category}/`}
				class="bg-primary-100 text-primary-600 hover:bg-primary-200 dark:bg-primary-600 dark:hover:bg-primary-700 rounded-full px-4 py-1 text-sm font-semibold transition-colors md:text-base dark:text-white"
			>
				{humanize(category)}
				{showCount && <span class="text-xs opacity-70">{count}</span>}
			</a>
		))
	}
</div>
