---
import { type CollectionEntry } from "astro:content";
import Player from "@components/SermonAudio/Player";

interface Props {
	sermon: CollectionEntry<"sermons">;
	class?: string;
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

interface MediaAudio {
    bitrate?: number;
    streamURL?: string;
}

const { sermon, class: className, ...rest } = Astro.props as Props;
const audio:MediaAudio = sermon.data.media.audio.reduce((acc, audio) => {
    if (audio.bitrate && audio.bitrate >= acc.bitrate) {
        return audio;
    }

    return acc;
}, {bitrate: -1});
console.log(audio.streamURL)

const playlist = [
        {
            name: sermon.data.fullTitle,
            writer: sermon.data.speaker.displayName,
            src: audio.streamURL,
            id: 1,
        },
    ]
---

<div>
    <Player client:load playlist={playlist} />
</div>
