---
/**
 * * Simple contact form to get you started
 *
 * See https://cosmicthemes.com/docs/contact-form/ for more information on how to set up a contact form
 *
 * Form inputs are styled in "global.css" as form__input, so you can use them elsewhere on the site
 */

import Button from "@components/Button/Button.astro";
---

<section id="contact" class="mx-auto max-w-3xl min-w-fit rounded-lg">
	<form
		id="contact-form"
		name="contact"
		class="dark:bg-base-900 flex flex-col gap-4 rounded-2xl bg-white p-8 shadow-lg"
	>
		<input type="hidden" name="form-name" value="contact" />
		<div>
			<div class="flex flex-col">
				<label for="contact-fname" class="form__label">Full Name</label>
				<input
					type="text"
					class="form__input"
					name="fname"
					id="contact-fname"
					placeholder="first name"
					required
				/>
			</div>
		</div>
		<div>
			<label for="contact-email" class="form__label mb-1">Email Address</label>
			<input
				type="email"
				class="form__input"
				name="email"
				id="contact-email"
				inputmode="email"
				placeholder="preferred contact email"
				required
			/>
		</div>
		<div>
			<label for="contact-phone" class="form__label mb-1">Phone Number</label>
			<input
				type="tel"
				class="form__input"
				name="phone"
				id="contact-phone"
				inputmode="tel"
				placeholder="phone number"
				required
			/>
		</div>
		<div>
			<label for="contact-services" class="form__label mb-1">Message</label>
			<textarea
				name="services"
				class="form__input"
				id="contact-services"
				rows="4"
				placeholder="Reason for contacting us"
				required></textarea>
		</div>
		<Button variant="primary" type="submit">Submit</Button>
	</form>
</section>
