---
import Button from "@components/Button/Button.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { Icon } from "astro-icon/components";

const currLocale = getLocaleFromUrl(Astro.url);
---

<div class="mx-auto max-w-lg">
	<div class="mb-12 text-center">
		<h1 class="h2 mb-4 text-5xl md:text-6xl">Sign In</h1>
		<!-- <p class="description text-xl tracking-tight">
      Some text below the heading
    </p> -->
	</div>
	<div
		class="border-base-200 dark:border-base-800 dark:bg-base-900 mb-6 rounded-2xl border bg-white p-5 sm:p-9"
	>
		<form class="-m-2 flex flex-wrap" id="login__form" name="login__form">
			<div class="w-full p-2">
				<label for="login__email" class="block" aria-label="Email Address">
					<input
						class="form__input w-full"
						id="login__email"
						type="email"
						placeholder="Email Address"
					/>
				</label>
			</div>
			<div class="w-full p-2">
				<label for="login__password" class="relative block transition" aria-label="Password">
					<input
						class="form__input w-full md:pr-40"
						id="login__password"
						type="password"
						placeholder="Password"
					/>
					<a
						class="text-primary-500 hover:text-primary-600 inline-block px-4 pb-4 font-medium tracking-tight transition duration-200 sm:absolute sm:top-1/2 sm:right-4 sm:-translate-y-1/2 sm:transform sm:p-0"
						href={"/password-reset"}>Forgot Password?</a
					>
				</label>
			</div>
			<div class="w-full p-2">
				<Button variant="primary" type="submit" class="mb-4 w-full py-4">Sign In</Button>
				<div class="-m-2.5 mb-4 flex items-center">
					<div class="flex-1 p-2.5">
						<div class="bg-base-300 dark:bg-base-700 h-px"></div>
					</div>
					<div class="auto p-2.5">
						<span class="text-base-600 dark:text-base-400 text-xl tracking-tight">or</span>
					</div>
					<div class="flex-1 p-2.5">
						<div class="bg-base-300 dark:bg-base-700 h-px"></div>
					</div>
				</div>

				<!-- Google sign in button -->
				<a
					class="bg-base-100 hover:bg-base-200 focus:ring-primary-300 flex w-full justify-center rounded-lg px-5 py-4 font-semibold tracking-tight transition duration-200 focus:ring-4 focus:outline-none"
					href="#"
				>
					<Icon name="nova/google" aria-hidden="true" class="mr-3 size-6 shrink-0" />
					<span class="text-base-900 xs:block hidden">Sign in with Google</span><span
						class="xs:hidden">Google</span
					>
				</a>
			</div>
		</form>
	</div>
	<p class="text-base-600 dark:text-base-400 text-center font-medium tracking-tight">
		<span>Don’t have an account?</span>
		<a
			class="text-primary-500 hover:text-primary-600 whitespace-nowrap transition duration-200"
			href={"/signup"}>Create Free Account</a
		>
	</p>
</div>
