---
import Button from "@components/Button/Button.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { Icon } from "astro-icon/components";

import { getLocalizedRoute } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
---

<div class="mx-auto max-w-lg">
	<div class="mb-12 text-center">
		<h1 class="h2 mb-4 text-5xl md:text-6xl">Reset Password</h1>
	</div>
	<div
		class="border-base-200 dark:border-base-800 dark:bg-base-900 mb-6 rounded-2xl border bg-white p-5 sm:p-9"
	>
		<form class="-m-2 flex flex-wrap" id="resetpass__form" name="resetpass__form">
			<div class="w-full p-2">
				<label for="resetpass__email" class="block" aria-label="Email Address">
					<input
						class="form__input w-full"
						id="resetpass__email"
						type="email"
						placeholder="Email Address"
					/>
				</label>
			</div>
			<div class="w-full p-2">
				<Button variant="primary" type="submit" class="w-full py-4">Submit</Button>
			</div>
		</form>
	</div>
	<p class="text-base-600 dark:text-base-400 text-center font-medium tracking-tight">
		<span>Already know your password?</span>
		<a
			class="text-primary-500 hover:text-primary-600 whitespace-nowrap transition duration-200"
			href={getLocalizedRoute(currLocale, "/login")}>Sign In</a
		>
	</p>
</div>
